<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">

	<profiles>
		<profile>
			<id>cocome-context</id>
			<properties>
				<!-- deployment properties -->

				<!-- logic node deployment configuration -->
				<reportsmicroservice.protocol>http</reportsmicroservice.protocol>
				<reportsmicroservice.domain>reportsmicroservice</reportsmicroservice.domain>
				<reportsmicroservice.host>localhost</reportsmicroservice.host>
				<reportsmicroservice.httpPort>8680</reportsmicroservice.httpPort>
				<reportsmicroservice.adminPort>8648</preportsmicroservice.adminPort>
				<reportsmicroservice.user>admin</reportsmicroservice.user>
				<reportsmicroservice.password></reportsmicroservice.password>
			</properties>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>cocome-context</activeProfile>
	</activeProfiles>
</settings>
