<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">

	<profiles>
		<profile>
			<id>cocome-context</id>
			<properties>
				<!-- deployment properties -->

				<!-- logic node deployment configuration -->
				<storesmicroservice.protocol>http</storesmicroservice.protocol>
				<storesmicroservice.domain>storesmicroservice</storesmicroservice.domain>
				<storesmicroservice.host>localhost</storesmicroservice.host>
				<storesmicroservice.httpPort>8880</storesmicroservice.httpPort>
				<storesmicroservice.adminPort>8848</storesmicroservice.adminPort>
				<storesmicroservice.user>admin</storesmicroservice.user>
				<storesmicroservice.password></storesmicroservice.password>
			</properties>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>cocome-context</activeProfile>
	</activeProfiles>
</settings>
