<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">

	<profiles>
		<profile>
			<id>cocome-context</id>
			<properties>
				<!-- deployment properties -->

				
				<!-- Do not change the protocol and domain, as they are used to include 
					the micro frontends of the specific services -->

				<!-- resource configuration store/enterprise -->
				<storesmicroservice.protocol>http</storesmicroservice.protocol>
				<storesmicroservice.domain>storesmicroservice</storesmicroservice.domain>
				<storesmicroservice.host>localhost</storesmicroservice.host>
				<storesmicroservice.httpPort>8880</storesmicroservice.httpPort>



			</properties>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>cocome-context</activeProfile>
	</activeProfiles>
</settings>
